**/target
**/.DS_Store
.settings/
.classpath
.project
bin/
*.iml
**/logs
.idea/
*.class
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.jar
*.war
*.ear
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# 忽略所有配置，生产环境配置由jenkins统一管理
# *.conf
# **/application-prod.properties
# **/application-dev.properties
# **/application-test.properties
# **/application.properties
**/.DS_Store
